# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
*.user
Source/KineticGraph.v11.suo
Source/WickedSick.KineticGraph.Controls.Fayde/KineticGraph.js
Source/WickedSick.KineticGraph.Controls.Fayde/KineticGraph.js.map
Fayde/.idea/
Fayde/node_modules/
Fayde/testsite/lib/
Fayde/test/lib/
Fayde/testsite/.build/
.idea/
Fayde/lib/
Fayde/test/runner.js
Fayde/test/runner.js.map
Fayde/test/tests/test1.js
Fayde/test/tests/test1.js.map
