# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
*.user
Source/KineticGraph.v11.suo
Fayde/.idea/
Fayde/node_modules/
Fayde/lib/
Fayde/testsite/lib/
Fayde/test/lib/
Fayde/testsite/.build/
Fayde/test/.build/
.idea/
